.Burger {
  width: 100%;
  margin: 0 -20px;;
  height: 250px;
  overflow: scroll;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 500px) and (min-height: 690px) {
  .Burger {
    width: 700px;
    height: 340px;
  }
}